.hero-sec {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.hero-sec img{
    margin-top: 28px;
    height: 17.5rem;
    width: 17.5rem;
}

.hero-sec h1 {
    text-align: center;
    width: 70%;
    font-size: 57px;
    font-weight: 400;
}

.hero-sec h1 span {
    background-color: yellow;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-sec p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}

.hero-action {
    margin-top: 2px;
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 25px;
}

.download-CV {
    padding: 20px 40px;
    border-radius: 50px;
    background-color: lightcoral;
    cursor: pointer;
}
.download-CV:hover {
    background-color: white;
    color: lightcoral;
}

.linkedin {
    padding: 17px 70px;
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
}
.linkedin:hover {
    background-color: lightcoral;
    color: white;
}
/* add hover */