.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 75px;
    margin: 80px 170px;
}

.contact-title h1{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0px 25px;
    font-size: 80px;
    font-weight: 600;
    margin-bottom: 35px;
}

.contact-section {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 150px;
}
.contact-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-left h1 {
    margin-top: 0.5rem;
    margin-right: 31rem;
    font-size: 55px;
    font-weight: 600;
    /* background: linear-gradient(264deg, #fcff82 -5.09%, #fd5959 106.28%); */
    background-color: #ffc300;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-left p {
    color: white;
    font-size: 22px;
    line-height: 35px;
    /* max-width: 550px; */
}

.contact-details {
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    /* border: 2px solid #fcff82; */
    gap: 30px;
}
.contact-detail{
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.contact-right label {
    margin-bottom: -18px;
    color: white;
    font-size: 24px;
    font-weight: 400;
}

.contact-right input {
    border: none;
    width: 500px;
    height: 50px;
    padding-left: 20px;
    /* border: 2px solid #fcff82; */
    border-radius: 2px;
    background: lightgray;
    color: lightblue;
    font-size: 20px;    
}

.contact-right textarea {
    width: 500px;
    height: 100px;
    border: none;
    padding: 25px;
    border-radius: 2px;
    background: lightgray;
    color: lightblue;
    font-size: 20px;
}

.contact-btn {
    border: none;
    border-radius: 50px;
    /* background: linear-gradient(264deg, #fcff82 -5.09%, #fd5959 106.28%); */
    background-color: #ffc300;
    color: #000814;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1.5px;
    padding: 10px 25px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.contact-btn:hover {
    transform: scale(1.04);
    transition: 0.3s;
}