@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    color: white;
    /* background-color: #272343; */
    background-color: #000814;
    /* background-color: black; */
}